menu "General setup"

config FASTBOOT
    bool "enable fast boot function"
    default n
    help
        fast boot support.

config COMMON_MALLOC
    bool "enable common dlmalloc"
    default n
    help
        common malloc and free function.

config CMD_SHELL
    bool "enable cmd shell"
    default n
    select DRV_UART
    select COMMON_MALLOC
    help
        cmd shell in uart0.

config UPV_SERIAl
    bool "enable upgrade for uart"
    default n
    select UPV_QSPI
    select DRV_UART
    help
        Upgrade bootloader form uart.

config UPV_SERIAL_NUM
	int	"upgrade serial port number"
	range 0  7
	default 1
    depends on UPV_SERIAl
	help
        This is upgrade serial port number, the vailid port number is 0~7.
        Attention: this number must different of CONFIG_DBG_SERIAL_NUM
config UPV_SERIAL_BAUDRATE
	int	"upgrade serial port number"
	range 9600  921600
	default 921600
    depends on UPV_SERIAl
	help
        This is upgrade serial port baudrate, the vailid port number is 9600~921600.

config UPV_QSPI
    bool "qspi upgrade"
    default n
    select DRV_QSPI
    select QSPI_DMA_TRANSFER
    select DRV_DMA
    help
        qspi upgrade version

config BUILD_ENABLE_UNWIND
    bool "enable unwind dump stack debug function"
	default n
    help
    Unwind is a debug way provided by libgcc.
    enable this function we can get call stack when rise exception,
	or we can call this function for dump call stack which we want.

config ENABLE_GCC_SAVE_TEMPS
    bool "enable -save-temps for gcc"
    default n
    help
        optional gcc compile paramters, for save *.i *.s temporary files
    
config DEBUG_INFO
    bool "debug info enable"
    default y
    help
    	enable gcc -g -gdwarf-2.

config LOAD_XMODEM
    bool "enable load xmodem"
    default y
    help
    	enable xmodem

config BOOT_COUNT_DOWN
    bool "count down for start"
    default y
#    depends on CMD_SHELL
#    select UPV_QSPI
#    select DRV_UART
#    select CMD_UART
    help
        count down for startting bl shell.

config BOOT_COUNT_DOWN_SEC
	int	"boot count down seconds"
	range 0  15
	default 3
    depends on BOOT_COUNT_DOWN
	help
        counting down for breaking auto boot, the vailid time is 0~5s.
        Attention: if set 0, meaning bypass...

config AUTO_UPGRADE
    bool "auto upgrade in boot sequence"
    default n
    select UPV_QSPI
    select DRV_UART
    help
        auto upgrade in booting...

config AUTO_UPGRADE_DELAY_MS
	int	"waiting time for upgrade in bl"
	range 0  1500
	default 100
    depends on AUTO_UPGRADE
	help
        waitting upgrade flag in booting sequence, the vailid time is 0~500ms.
        Attention: if set 0, meaning bypass...
                   less than 100, can not assure enter auto upgrade procedure.

config ENABLE_TRACE
	bool "enable print trace"
	default n
	help
        Attention: if enable, print message for bootloader, or only keep printf bl version message
endmenu
